{% extends 'index.html' %}

{% block content %}

<h1 class="main_header">Dodaj zawodnika</h1>

<form action='.' method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Imię</label><br>
          {{form.imie}}
        </div>
  
        <div class="form-group col-md-4">
          <label for="inputState">Nazwisko</label><br>
          {{form.nazwisko}}
        </div> 

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Narodowość</label><br>
          {{form.narodowosc}}
        </div>
  
        <div class="form-group col-md-4">
          <label for="inputState">Data urodzenia</label><br>
          {{form.data_urodzenia}}
        </div> 

    </div>

    <button type="submit" class="btn btn-primary" value="Post">Dodaj zawodnika</button>
    <a href="/zawodnicy">
      <button type="button" class="btn btn-secondary">Powrót do wszystkich zawodników</button>
    </a>

</form>


{% endblock %}