{% extends 'index.html' %}

{% block content %}

<h1 class="main_header">Statystyki</h1>

<h2>Noty za styl</h2>
<canvas id="notes_avg_chart" data-url="{% url 'notes_avg_chart' %}" width="1000" height="400"></canvas>
<script>
    
    $(function () {
        var $notesChart = $("#notes_avg_chart");
        $.ajax({
            url: $notesChart.data("url"),
            success: function (data) {
                var ctx = $notesChart[0].getContext("2d");
                var notes_chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Średnia ocen',
                            data: data.data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(179, 165, 161, 0.2)',
                                'rgba(133, 142, 230, 0.2)',
                                'rgba(180, 210, 152, 0.2)',
                                'rgba(218, 173, 215, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(179, 165, 161, 1)',
                                'rgba(133, 142, 230, 1)',
                                'rgba(180, 210, 152, 1)',
                                'rgba(218, 173, 215, 1)',

                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: 'Średnia ocen'
                        },
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Średnia ocen'
                                },
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Zawodnik'
                                },
                                ticks: {
                                    beginAtZero: true
                                }
                            }]    
                        }
                    }
                });  
            }
        });
    });

</script>
{% endblock %}